In [10]:
url= "https://en.wikipedia.org/wiki/List_of_Bollywood_films_of_2015"   # Enter url of website to scrape table

In [11]:
import requests
from bs4 import BeautifulSoup as bs          # importing required libraries

In [12]:
page= requests.get(url)
if(page.status_code==200):
    print("Success")
else:
    print("Error code:",page.status_code)                  # shows status code of fetching requested url content

Success

In [13]:
soup= bs(page.content,'html.parser')
all_tables=(list(soup.find_all('table')))                 # Extracting essential information from website

In [14]:
all_table_data=[]
all_table_header=[]
for table in all_tables:
    all_rows= list(table.find_all('tr'))
    table_data=[]
    for r in all_rows:
        headers= list(r.find_all('th')) 
        row_data= list(r.find_all('td'))
        data=[]
        for h in headers:
            data.append(h.get_text())
        for col_data_in_row in row_data:
            data.append(col_data_in_row.get_text())
        if len(data)!=0:
            table_data.append(data)
    
    
    all_table_data.append(table_data)
        
                                            # Scrapping data

In [15]:
import pandas as pd
tables=[]
for i in range(len(all_table_data)):
    tables.append(pd.DataFrame(all_table_data[i]))
        # formatting data

In [16]:
print("Total tables found:",len(tables))
print("View table data by using: tables[i]  ( where i is in range 0 to",len(tables)-1,")")

Total tables found: 7
View table data by using: tables[i]  ( where i is in range 0 to 6 )

In [17]:
 tables[1]                 # view scrapped tables by index

       0                        1                               2     3
0   Rank                    Title                 Worldwide gross  Ref.
1      1        Bajrangi Bhaijaan  ₹970.05 crore (US$151 million)   [a]
2      2     Prem Ratan Dhan Payo      ₹432 crore (US$67 million)   [4]
3      3                  Dilwale   ₹408.15 crore (US$64 million)   [b]
4      4          Bajirao Mastani    ₹356.2 crore (US$56 million)  [11]
5      5  Tanu Weds Manu: Returns    ₹243.6 crore (US$38 million)  [11]
6      6             Welcome Back   ₹168.76 crore (US$26 million)  [11]
7      7                   ABCD 2   ₹158.31 crore (US$25 million)  [11]
8      8          Dil Dhadakne Do   ₹144.79 crore (US$23 million)  [11]
9      9                     Piku   ₹141.26 crore (US$22 million)  [11]
10    10                  Tamasha   ₹136.63 crore (US$21 million)  [11]

In [18]:
table_to_download= 0          # Enter index of table to be downloaded
if table_to_download < len(tables):
    tables[table_to_download].to_csv("table.csv")
    print("Success")
else:
    print("Invalid Index")

Success